<div id="<%= dom_id recipe %>">
  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= recipe.category %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= recipe.price %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= recipe.data %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= recipe.description %>
  </p>

  <p>
    <strong>Instructions:</strong>
    <%= recipe.instructions %>
  </p>

</div>
